@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body{
  font-family: 'Roboto Slab serif';
}

:root{
  --white : #fff;
  --orange : #f9ab00;
  --dark : rgba(255,255,255,0)
}
/*********** Navbar *****************/
.logo {
  width: 3rem;
}

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.04375rem;
  cursor: pointer;

}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-left: 0.5rem;
  margin-right: 2.5rem;
  color: var(--white) !important;
  border-top: 0.1875rem solid var(--dark);
}

.navbar-brand {
  max-width: 17rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--orange);
}