@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

body {
  font-family: "Roboto Slab serif";
}

:root {
  --white: #fff;
  --orange: #f9ab00;
  --dark: rgba(255, 255, 255, 0);
  --red: #ef4035;
  --hover-red: #f33501;
}

/*********** Navbar *****************/
.logo {
  width: 3rem;
}

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.04375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-left: 0.5rem;
  margin-right: 2.5rem;
  color: var(--white) !important;
  border-top: 0.1875rem solid var(--dark);
}

.navbar-brand {
  max-width: 17rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--orange);
}

/*********** Header *****************/
.header-wraper {
  position: relative;
  background: url(./assets/img/bg1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Slab serif";
}

.main-info h1 {
  margin-top: 1rem;
  text-transform: capitalize;
  color: #fff;
  margin-top: 10%;
}

/*********** Typed-Text *****************/
.typed-text {
  font-size: 2rem;
  color: #f9b700;
}

.btn-main-offer {
  border: 1px solid rgb(98, 0, 255);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--white);
  margin: 2rem;
  background-color: #626362;
  text-decoration: none;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: #f9ab00;
  font-weight: bold;
  color: black;
  transition: .3s ease-in-out;
}
